Options +Indexes
AddDescription "Relationer" "S1E5.mp3.torrent" "I detta avsnitt pratas det om tidigare relationer och i gruppen syns två gäster som själva kallar sig för experter* inom området" "S1E5.mp3" "3324" "cover5.jpg" "5" "1" "relationer.html" #Wed, 13 Jul 2022 18:01:33 +0200
AddDescription "Kvinnoflörten" "S1E5.95.mp3.torrent" "I dagens <i>specialavsnitt</i> har vi mot all förmodan två kvinnor med oss som idag ersätter Oskar och Nathan, häng med när vi utforskar kvinnornas värld och får höra deras perspektiv på våran kära flört" "S1E5.95.mp3" "4679" "cover5.95.jpg" "5.95" "1" "kvinnoflorten.html" #Mon, 18 Jul 2022 21:55:09 +0200
AddDescription "BASED eller CRINGE?" "S1E6.mp3.torrent" "I dagens avsnitt diskuterar vi flörtkulturer och om de är BASED eller CRINGE. Nathan är fortfarande död." "S1E6.mp3" "3706" "cover6.jpg" "6" "1" "based-eller-cringe.html" #Tue, 16 Aug 2022 17:02:33 +0200
AddDescription "Sommarflörtens återkomst" "none" "En ny sommar och nya möjligheter är här! I dagens avsnitt återkopplar vi till hur förra årets flört gick och sätter tonen för framtiden. För första gången på länge är hela gruppen på plats och frågan kvarstår om det kommer bli ännu en mycket ensamm sommar. Gustav funderar också på hur han ska hora sig 💕" "S2E1.mp3" "4026" "cover2-1.jpg" "1" "2" "sommarflortens-aterkomst.html" #Sat, 24 Jun 2023 13:48:43 +0200
